@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap");

#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

header {
  width: 100%;
  height: 100%;
  background: url(assets/background.jpg) no-repeat 50% 50%;
  top: 0;
  position: fixed;
  z-index: -1;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #333;
  color: white;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content {
  min-height: 100vh;
  background: #f4f4f4;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

h2 {
  max-width: 800px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 40px;
  color: #333;
  font-family: "Rubik";
  font-weight: 600;
}

h3 {
  max-width: 800px;
  margin-bottom: 50px;
  font-size: 30px;
  color: #333;
  font-family: "Rubik";
  font-weight: 300;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture-container {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.profile-picture {
  width: 100%;
  height: auto;
  margin: 0 auto; /* Centraliza horizontalmente a imagem dentro do contêiner */
}

.quote-box {
  text-align: center;
}

.quote-box p {
  border: 1px solid #ccc;
  padding: 15px; /* Aumentei o preenchimento */
  margin: 15px 0; /* Adicionei uma margem superior e inferior */
  border-radius: 8px;
  max-width: 400px; /* Aumentei a largura máxima */
  display: inline-block;
  font-size: 16px; /* Reduzi o tamanho da fonte */
  color: #555; /* Cor mais escura para o texto */
  font-family: "Rubik";
  font-weight: 300;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
  font-family: "Rubik";
  font-weight: 400;
}

.content h1 {
  line-height: 1; /* Ajustado para garantir que a linha única ocupe toda a altura da seção de conteúdo */
  color: #999;
}

.content p {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

footer h1 {
  line-height: 300px;
}

header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.icon-box {
  margin: 0 10px;
}

.icon-box img {
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  border-radius: 50%;
  border: 2px solid #00000000; /* Cor da borda do ícone */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Adicionado box-shadow para o efeito de brilho */
}

.icon-box img:hover {
  border-color: #000000; /* Cor da borda do ícone ao passar o mouse */
  box-shadow: 0 0 10px rgba(228, 244, 255, 0.7); /* Efeito de brilho ao passar o mouse */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-text {
  position: absolute; /* Adicione esta linha */
  top: 80px; /* Ajuste conforme necessário para posicionar o texto abaixo do h1 */
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-family: "Rubik";
  font-weight: 300;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.contact-info,
.additional-info,
.copyright {
  flex: 1;
  text-align: center;
}

h4 {
  font-size: 20px;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 20px;
}

h5 {
  margin: 5px 0;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 15px;
}

.copyright {
  margin-top: 30px;
  font-size: 14px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.4s ease, visibility 0.4s ease; /* Add transition for smooth effect */
}

.menu-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.menu {
  padding: 50px;
  text-align: right;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Rubik";
}
